
.bgGames{
    background-color: #0A0A0A;
    width:30%;
    height:fit-content;
}
.bgGames__infos h2 {
    margin:15px 0px;
}
.bgGames__infos p {
    margin-bottom:15px;
}

.imageGame{
    border-radius: 15px 15px 0 0;
}

article{
    border-radius: 15px;
}