#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body{
  background-color: #272727;
}

.container {
  display:flex;
  justify-content: flex-start;
}

.container img {
  width :150px;
  height:150px;
}

.menu {
  display:flex;
  width:15%;
}

.mainBloc {
  display:flex;
  flex-wrap: wrap;
  width:85%;
}